Repository hiro0214/RepoFinder: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: npm run biome -- {staged_files}
  staged_files: true

prettier:
  run: npm run prettier -- {staged_files}
  staged_files: true

add: Button コンポーネント 作成
  .gitignore
  .storybook/preview.ts
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/atoms/Button/Button.stories.tsx
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/style.module.scss
  src/components/atoms/index.ts
  src/styles/_base.scss
  src/styles/_reset.scss
  src/styles/style.scss
Due: biome, prettier

add: TextInput コンポーネント 作成
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/style.module.scss
  src/components/atoms/TextInput/TextInput.stories.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/TextInput/style.module.scss
  src/components/atoms/index.ts
Due: biome, prettier

add: ErrorMessage コンポーネント 作成
  src/components/atoms/ErrorMessage/ErrorMessage.stories.tsx
  src/components/atoms/ErrorMessage/ErrorMessage.tsx
  src/components/atoms/ErrorMessage/style.module.scss
  src/components/atoms/index.ts
Due: biome, prettier

add: FieldWrapper コンポーネント 作成
  src/components/atoms/ErrorMessage/ErrorMessage.tsx
  src/components/molucules/FieldWrapper/FieldWrapper.stories.tsx
  src/components/molucules/FieldWrapper/FieldWrapper.tsx
  src/components/molucules/FieldWrapper/style.module.scss
  src/components/molucules/index.ts
Due: biome, prettier

add: TextField コンポーネント 作成
  package-lock.json
  package.json
  src/components/atoms/TextInput/TextInput.tsx
  src/components/molucules/TextField/TextField.stories.tsx
  src/components/molucules/TextField/TextField.tsx
  src/components/molucules/index.ts
Due: biome

add: トップページ 作成
  next.config.ts
  public/logo.svg
  src/app/(main)/(repos)/[owner]/[repo]/page.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/Container.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/Presentational.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/components/Card/Card.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/components/Card/style.module.scss
  src/app/(main)/(top)/_components/RepositoryList/_internal/style.module.scss
  src/app/(main)/(top)/_components/RepositoryList/index.tsx
  src/app/(main)/(top)/_components/SearchForm/_internal/Container.tsx
  src/app/(main)/(top)/_components/SearchForm/_internal/Presentational.tsx
  src/app/(main)/(top)/_components/SearchForm/_internal/schema.ts
  src/app/(main)/(top)/_components/SearchForm/_internal/style.module.scss
  src/app/(main)/(top)/_components/SearchForm/_internal/useSearchForm.ts
  src/app/(main)/(top)/_components/SearchForm/index.tsx
  src/app/(main)/(top)/page.tsx
  src/app/(main)/(top)/style.module.scss
  src/app/(main)/_components/Contents/index.tsx
  src/app/(main)/_components/Contents/style.module.scss
  src/app/(main)/_components/Header/index.tsx
  src/app/(main)/_components/Header/style.module.scss
  src/app/(main)/layout.tsx
  src/app/page.tsx
  src/components/atoms/Button/style.module.scss
  src/components/atoms/Spinner/Spinner.tsx
  src/components/atoms/Spinner/style.module.scss
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/index.ts
  src/components/molucules/FieldWrapper/FieldWrapper.stories.tsx
  src/components/molucules/FieldWrapper/FieldWrapper.tsx
  src/services/repository/getRepositoryList.ts
  src/services/repository/type.ts
  src/styles/_base.scss
Due: biome, prettier

add: 詳細ページ 作成
  package-lock.json
  package.json
  src/app/(main)/(repos)/[owner]/[repo]/_components/Stats/_internal/Container.tsx
  src/app/(main)/(repos)/[owner]/[repo]/_components/Stats/_internal/Presentational.tsx
  src/app/(main)/(repos)/[owner]/[repo]/_components/Stats/_internal/components/Stat/index.tsx
  src/app/(main)/(repos)/[owner]/[repo]/_components/Stats/_internal/components/Stat/style.module.scss
  src/app/(main)/(repos)/[owner]/[repo]/_components/Stats/_internal/style.module.scss
  src/app/(main)/(repos)/[owner]/[repo]/_components/Stats/index.tsx
  src/app/(main)/(repos)/[owner]/[repo]/page.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/Presentational.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/components/Card/Card.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/components/Card/index.tsx
  src/app/(main)/(top)/_components/SearchForm/_internal/style.module.scss
  src/app/(main)/(top)/page.tsx
  src/app/(main)/(top)/style.module.scss
  src/app/(main)/_components/Contents/index.tsx
  src/app/(main)/_components/Contents/style.module.scss
  src/app/(main)/_components/Header/index.tsx
  src/app/(main)/_components/Header/style.module.scss
  src/app/(main)/_components/Main/index.tsx
  src/app/(main)/_components/Main/style.module.scss
  src/app/(main)/layout.tsx
  src/components/atoms/Button/style.module.scss
  src/services/repository/getRepository.ts
  src/services/repository/type.ts
  src/utils/helpers/date.ts
Due: biome, prettier

feat: 詳細ページ レスポンシブ対応
  src/app/(main)/(repos)/[owner]/[repo]/_components/Stats/_internal/style.module.scss
Due: prettier

feat: エラーハンドリング 実装
  src/app/(main)/(repos)/[owner]/[repo]/_components/Stats/_internal/Container.tsx
  src/app/(main)/(repos)/[owner]/[repo]/page.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/Container.tsx
  src/app/(main)/(top)/_components/SearchForm/_internal/Container.tsx
  src/app/(main)/(top)/page.tsx
  src/app/(main)/error.tsx
  src/app/(main)/style.module.scss
  src/services/index.ts
  src/services/repository/getRepository.ts
  src/services/repository/getRepositoryList.ts
Due: biome, prettier

add: not-foundページ 作成
  src/app/(main)/(top)/_components/RepositoryList/_internal/components/Card/index.tsx
  src/app/(main)/repos/[owner]/[repo]/_components/Stats/_internal/Container.tsx
  src/app/(main)/repos/[owner]/[repo]/_components/Stats/_internal/Presentational.tsx
  src/app/(main)/repos/[owner]/[repo]/_components/Stats/_internal/components/Stat/index.tsx
  src/app/(main)/repos/[owner]/[repo]/_components/Stats/_internal/components/Stat/style.module.scss
  src/app/(main)/repos/[owner]/[repo]/_components/Stats/_internal/style.module.scss
  src/app/(main)/repos/[owner]/[repo]/_components/Stats/index.tsx
  src/app/(main)/repos/[owner]/[repo]/page.tsx
  src/app/_components/Header/index.tsx
  src/app/_components/Header/style.module.scss
  src/app/_components/Main/index.tsx
  src/app/_components/Main/style.module.scss
  src/app/error.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/style.module.scss
  src/components/atoms/TextInput/TextInput.stories.tsx
Due: biome, prettier

add: Pagination コンポーネント 作成
  package-lock.json
  public/icons/arrow_left.svg
  public/icons/arrow_left_gray.svg
  public/icons/arrow_right.svg
  public/icons/arrow_right_gray.svg
  src/app/(main)/(top)/_components/RepositoryList/_internal/Container.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/Presentational.tsx
  src/app/(main)/(top)/_components/SearchForm/_internal/useSearchForm.ts
  src/app/(main)/(top)/page.tsx
  src/components/atoms/Button/Button.stories.tsx
  src/components/atoms/Button/index.tsx
  src/components/atoms/ErrorMessage/ErrorMessage.stories.tsx
  src/components/atoms/ErrorMessage/index.tsx
  src/components/atoms/Spinner/index.tsx
  src/components/atoms/TextInput/TextInput.stories.tsx
  src/components/atoms/TextInput/index.tsx
  src/components/atoms/index.ts
  src/components/molucules/FieldWrapper/FieldWrapper.stories.tsx
  src/components/molucules/FieldWrapper/index.tsx
  src/components/molucules/Pagination/Pagination.stories.tsx
  src/components/molucules/Pagination/index.tsx
  src/components/molucules/Pagination/style.module.scss
  src/components/molucules/TextField/TextField.stories.tsx
  src/components/molucules/TextField/index.tsx
  src/components/molucules/index.ts
  src/services/repository/getRepository.ts
  src/services/repository/getRepositoryList.ts
  src/utils/configs/index.ts
  src/utils/hooks/usePagination.ts
Due: biome, prettier

add: Repository service テストコード 作成
  package-lock.json
  package.json
  src/services/repository/__tests__/getRepository.test.ts
  src/services/repository/__tests__/getRepositoryList.test.ts
  vitest.config.ts
  vitest.setup.ts
Due: biome

add: SearchForm stories 作成
  .storybook/preview.ts
  src/app/(main)/(top)/_components/SearchForm/_internal/Container.stories.tsx
  src/app/(main)/(top)/_components/SearchForm/_internal/Presentational.stories.tsx
  src/app/(main)/(top)/_components/SearchForm/_internal/Presentational.tsx
  src/components/atoms/Button/Button.stories.tsx
  src/components/atoms/ErrorMessage/ErrorMessage.stories.tsx
Due: biome

fix: config 修正
  .storybook/main.ts
  vitest.config.ts
Due: biome

add: RepositoryList stories 作成
  src/app/(main)/(top)/_components/RepositoryList/_internal/Presentational.stories.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/Presentational.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/style.module.scss
  src/app/(main)/repos/[owner]/[repo]/_components/Stats/_internal/Presentational.tsx
  src/components/atoms/Spinner/Spinner.stories.tsx
  src/components/molucules/Pagination/index.tsx
  src/components/molucules/TextField/index.tsx
  src/services/repository/type.ts
Due: biome, prettier

add: Stats stories 作成
  src/app/(main)/repos/[owner]/[repo]/_components/Stats/_internal/Presentational.stories.tsx
Due: biome

feat: README 更新
  README.md
  docs/DETAILS.md
  package.json
Due: biome

feat: README 更新
  docs/DETAILS.md
  docs/HIGHLIGHT.md
Due: none

feat: useTransition 追加
  src/app/(main)/(top)/_components/SearchForm/_internal/Container.tsx
  src/app/(main)/(top)/_components/SearchForm/_internal/Presentational.tsx
  src/app/(main)/(top)/_components/SearchForm/_internal/useSearchForm.ts
Due: biome

fix: style 修正
  public/logo.svg
  src/app/(main)/(top)/_components/RepositoryList/_internal/components/Card/index.tsx
  src/app/(main)/(top)/_components/RepositoryList/_internal/components/Card/style.module.scss
  src/components/molucules/Pagination/index.tsx
  src/components/molucules/Pagination/style.module.scss
  src/styles/_base.scss
Due: biome, prettier

add: Container stories 作成
  src/app/(main)/(top)/_components/RepositoryList/_internal/Container.stories.tsx
  src/app/(main)/repos/[owner]/[repo]/_components/Stats/_internal/Container.stories.tsx
Due: biome

fix: storybook config 修正
  .storybook/main.ts
  src/app/(main)/(top)/_components/RepositoryList/_internal/Container.stories.tsx
  src/app/(main)/repos/[owner]/[repo]/_components/Stats/_internal/Container.stories.tsx
Due: biome

feat: biome noRestrictedImports 追加
  biome.json
Due: biome

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json}
  prettier: any of: *.{css,scss}
